tensorflow>=2.15.0
torch>=2.1.0
transformers>=4.38.0
numpy>=1.26.0
opencv-python>=4.9.0.80
paho-mqtt>=1.6.1
requests>=2.31.0
gymnasium>=0.29.1
stable-baselines3>=2.2.1
pyserial>=3.5
python-dotenv>=1.0.1
